
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Coustomers</h5>

@if(!Model.Any()) {
    <p>We don't have any customers yet.</p>
} else {
    <table class="table table-bordered table-hover">
        @*<thead>
            <tr>Coustomer</tr>
        </thead>*@
        @foreach(var customer in Model) {
            <tbody>
                <tr>
                    <td>

                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)

                    </td>
                </tr>
            </tbody>
        }


    </table>

}


